
      body {
          background-color: #f5f5f5;
          /* font-family: 'Arial', sans-serif; */
      }

      .navbar .dropdown-menu .dropdown-item:hover {
          background-color: burlywood;
          color: white; 
      }

      /* .hero-section {
          background-image: url('https://images.unsplash.com/photo-1541753866388-0b3c701627d3');
          background-size: cover;
          background-position: center;
          height: 400px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          text-align: center;
          margin-bottom: 50px;
      } */

      .hero-section h1 {
          font-size: 3em;
          margin: 0;
      }

      .contact-info {
          background-color: burlywood;
          padding: 30px;
          border-radius: 10px;
          margin-bottom: 30px;
      }

      .contact-info h2 {
          margin-bottom: 20px;
      }

      .contact-info p {
          margin: 10px 0;
      }

      .contact-info .icon {
          font-size: 1.5em;
          margin-right: 10px;
          color: red;
      }

      .contact-form {
          background-color: white;
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .social-media {
          margin-top: 30px;
          text-align: center;
      }

      .social-media a {
          margin: 0 10px;
          color: black;
          font-size: 1.5em;
      }
  

/* -------------Footer Section ---------------------- */
.hero-section {
    background-image: url('https://images.unsplash.com/photo-1541753866388-0b3c701627d3');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.hero-section h1 {
    font-size: 3em;
    margin: 0;
}
.footer {
    background-color: #d38900;
    padding: 40px 0;
    margin-top: 50px;
    text-align: center;
}
.footer .social-icons a {
    margin: 0 15px;
    color: #000;
    
   
}
.footer .social-icons a:hover {
    color: #00aeff;
    
}
.list-unstyled a {
    color: #026aa7;
    
 }
.list-unstyled a:hover{
   color: #000;
    font-weight: bold;
}

